<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #chart1 {
            width: 50%;
            height: 400px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Statistics Overview</h2>
        <div id="chart1"></div>
    </div>

    <script>
        
        const numCampaigns = {{ num_campaigns }};
        const numInfluencers = {{ num_influencers }};
        const numSponsors = {{ num_sponsors }};

        var data = [{
            values: [numCampaigns, numInfluencers, numSponsors],
            labels: ['Campaigns', 'Influencers', 'Sponsors'],
            type: 'pie'
        }];

        var layout = {
            title: 'Distribution of Campaigns, Influencers, and Sponsors',
            height: 400,
            width: 500
        };

        Plotly.newPlot('chart1', data, layout);
    </script>
</body>

</html>
